footer.footer
	.footer__main
		ul.footer__main-g
			li.footer__main-logo
				img(src="img/footlogo.png").img
			li.footer__menu-v
				ul.footer__menu-ul
					each menu, idx in ['О магазине', 'О нас', 'Наши цены', 'Наши скидки', 'Акции']
						if (idx === 0)
							li.footer__menu-li-header=menu
						else
							li.footer__menu-li=menu
			li.footer__menu-v
				ul.footer__menu-ul
					each menu, idx in ['Каталог', 'Смартфоны', 'Планшеты', 'Компьютеры', 'Акссесуары']
						if (idx === 0)
							li.footer__menu-li-header=menu
						else
							li.footer__menu-li=menu
			li.footer__menu-v
				ul.footer__menu-ul
					each menu, idx in ['Контакты', 'Телефоны', 'Адреса', 'Карта проезда', 'Обратная связь']
						if (idx === 0)
							li.footer__menu-li-header=menu
						else
							li.footer__menu-li=menu
			li.footer__social
				.footer__social-div
					.footer__social-images
						a(href="#").footer__social-AppStore.clearfix
						a(href="#").footer__social-GooglePlay.clearfix
					.footer__social-icon
						a(href="#").footer__icon-b.clearfix
						a(href="#").footer__icon-f.clearfix
						a(href="#").footer__icon-w.clearfix